In [1]:
import aqueduct
from aqueduct import op, check, metric

In [2]:
# You can use `localhost` if you're running this notebook on the same machine as the server.
address = "http://localhost:8080"
api_key = aqueduct.get_apikey()
client = aqueduct.Client(api_key, address)

In [3]:
warehouse = client.integration(name="aqueduct_demo")
customers_table = warehouse.sql(query="SELECT * FROM customers;")
print(type(customers_table))

<class 'aqueduct.table_artifact.TableArtifact'>

In [4]:
customers_table.get().head()

,cust_id,n_workflows,n_rows,n_users,company_size,n_integrations,n_support_tickets,duration_months,using_deep_learning,n_data_eng,using_dbt
0,0,4,2007,2,29,5,3.0,1.0,0,2.0,1
1,1,3,8538,1,31,4,1.0,1.0,0,3.0,1
2,2,4,7548,1,29,3,1.0,3.0,0,1.0,1
3,3,3,4286,1,33,4,1.0,4.0,0,3.0,1
4,4,2,2136,1,28,3,0.0,1.0,0,2.0,1

In [5]:
from operators.log_featurize import log_featurize

In [6]:
features_table = log_featurize(customers_table)
print(type(features_table))

<class 'aqueduct.table_artifact.TableArtifact'>

In [7]:
features_table.get().head()

,n_workflows,n_rows,n_users,company_size,n_integrations,n_support_tickets,duration_months,using_deep_learning,n_data_eng,using_dbt,log_company_size,log_duration_months,log_n_data_eng,log_n_integrations,log_n_rows,log_n_support_tickets,log_n_users,log_n_workflows
0,4,2007,2,29,5,3.0,1.0,0,2.0,1,3.401197,0.693147,1.098612,1.791759,7.604894,1.386294,1.098612,1.609438
1,3,8538,1,31,4,1.0,1.0,0,3.0,1,3.465736,0.693147,1.386294,1.609438,9.052399,0.693147,0.693147,1.386294
2,4,7548,1,29,3,1.0,3.0,0,1.0,1,3.401197,1.386294,0.693147,1.386294,8.929170,0.693147,0.693147,1.609438
3,3,4286,1,33,4,1.0,4.0,0,3.0,1,3.526361,1.609438,1.386294,1.609438,8.363342,0.693147,0.693147,1.386294
4,2,2136,1,28,3,0.0,1.0,0,2.0,1,3.367296,0.693147,1.098612,1.386294,7.667158,0.000000,0.693147,1.098612